/* Generelle indstillinger */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 0.5rem 1rem;
    position: fixed;
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: flex-start;
}

.menu li {
    position: relative;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}

/* Dropdown styling */
.dropdown:hover .submenu {
    display: block;
}

/* Dropdown-menu styling */
.dropdown label {
    color: white;
    cursor: pointer;
    padding: 0.5rem 1rem;
    display: block;
    
}

/* Skjul checkboxene */
.toggle-menu,
.dropdown-toggle {
    display: none;
}


.submenu {
    display: none;
    position: absolute;
    background-color: #444;
    list-style: none;
    margin: 0;
    padding: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    flex-direction: column;
}

.submenu li {
    width: 200px;
    border-bottom: 1px solid #555;
}

.submenu a {
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
}

/* Responsiv styling */
.toggle-menu {
    display: none;
}

.burger-icon {
    display: none;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    margin-left: auto;
}

/* Vis submenu, når tilhørende checkbox er markeret */
.dropdown-toggle:checked + label + .submenu {
    display: flex;
}

@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #333;
    }

    .menu li {
        text-align: left;
    }

    .menu .submenu {
        position: static;
    }

    .toggle-menu:checked ~ .menu {
        display: flex;
    }

    .burger-icon {
        display: block;
    }
    .dropdown label {
        text-align: left;
    }

}